<div>
  <form>
    <label for="nombre">Nombre de la materia</label>
    <input type="text" name="nombre" value="Ej. Matematicas">
    <label for="seccion">Seccion de la materia</label>
    <input type="text" name="seccion" value="Ej. 10234">
    <label for="horas">Horas de la materia</label>
    <input type="text" name="horas" value="Ej. 42">
    <label for="creditos">Creditos de la materia</label>
    <input type="text" name="creditos" value="Ej. 9">
    <label for="clave">Clave de la materia</label>
    <input type="text" name="clave" value="Ej. I402">
    <label for="nrc">NRC de la materia</label>
    <input type="text" name="nrc" value="Ej. G43212">
  </form>
</div>
