<div class="container">
  <form>
      <label for="nombre">Nombre de la materia</label>
      <input type="text" name="nombre" placeholder="Ej. Matematicas">
      <label for="seccion">Seccion de la materia</label>
      <input type="text" name="seccion" placeholder="Ej. 10234">
      <label for="horas">Horas de la materia</label>
      <input type="text" name="horas" placeholder="Ej. 42">
      <label for="creditos">Creditos de la materia</label>
      <input type="text" name="creditos" placeholder="Ej. 9">
      <label for="clave">Clave de la materia</label>
      <input type="text" name="clave" placeholder="Ej. I402">
      <label for="nrc">NRC de la materia</label>
      <input type="text" name="nrc" placeholder="Ej. G43212">
    <div class="center">
      <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right">send</i>Guardar Cambios</button>
      <button class="waves-effect waves-light btn red accent-4"><i class="material-icons right">cancel</i>Cancelar</button>
    </div>
  </form>
</div>